SitioWebOasis/Web References/WSAcademicoWCF/Academico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscarApellido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarApellidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarApellidoResult" type="tns:ArrayOfPersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Persona">
        <s:complexContent mixed="false">
          <s:extension base="tns:Rol">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Strcedula" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Strapellidos" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Strnombres" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Rol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NombreRol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCarrera" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailfrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="namemailfrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarEmailHtml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailfrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="namemailfrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarEmailHtmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarEmailHtmlResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarApellidoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarApellido" />
  </wsdl:message>
  <wsdl:message name="BuscarApellidoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarApellidoResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarEmail" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarEmailResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailHtmlSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarEmailHtml" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailHtmlSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarEmailHtmlResponse" />
  </wsdl:message>
  <wsdl:portType name="AcademicoSoap">
    <wsdl:operation name="BuscarApellido">
      <wsdl:input message="tns:BuscarApellidoSoapIn" />
      <wsdl:output message="tns:BuscarApellidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <wsdl:input message="tns:EnviarEmailSoapIn" />
      <wsdl:output message="tns:EnviarEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailHtml">
      <wsdl:input message="tns:EnviarEmailHtmlSoapIn" />
      <wsdl:output message="tns:EnviarEmailHtmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AcademicoSoap" type="tns:AcademicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarApellido">
      <soap:operation soapAction="http://tempuri.org/BuscarApellido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <soap:operation soapAction="http://tempuri.org/EnviarEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailHtml">
      <soap:operation soapAction="http://tempuri.org/EnviarEmailHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AcademicoSoap12" type="tns:AcademicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarApellido">
      <soap12:operation soapAction="http://tempuri.org/BuscarApellido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <soap12:operation soapAction="http://tempuri.org/EnviarEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailHtml">
      <soap12:operation soapAction="http://tempuri.org/EnviarEmailHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Academico">
    <wsdl:port name="AcademicoSoap" binding="tns:AcademicoSoap">
      <soap:address location="http://academicosil.espoch.edu.ec/DiscapacitadosNegociosWCF/Academico.asmx" />
    </wsdl:port>
    <wsdl:port name="AcademicoSoap12" binding="tns:AcademicoSoap12">
      <soap12:address location="http://academicosil.espoch.edu.ec/DiscapacitadosNegociosWCF/Academico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>