SitioWebOasis/Web References/WSNotasEstudiante/NotasEstudiante.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/dtstNotasEstudiante.xsd" />
      <s:import namespace="http://tempuri.org/dtstDatosGradoEstudiante.xsd" />
      <s:import schemaLocation="http://localhost/Oasis/OAS_SitioWeb/SitioWeb_BusinessServices/NotasEstudiante.asmx?schema=dtstDatosGradoEstudiante" namespace="http://tempuri.org/dtstDatosGradoEstudiante.xsd" />
      <s:import schemaLocation="http://localhost/Oasis/OAS_SitioWeb/SitioWeb_BusinessServices/NotasEstudiante.asmx?schema=dtstNotasEstudiante" namespace="http://tempuri.org/dtstNotasEstudiante.xsd" />
      <s:element name="GetDatosNotasEstudiante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodPeriodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatosNotasEstudianteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatosNotasEstudianteResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dtstNotasEstudiante.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatosGradoEstudiante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatosGradoEstudianteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatosGradoEstudianteResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dtstDatosGradoEstudiante.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CerrarGestionNotasParcial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sintCodMatricula_1" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodPeriodo_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodMateria_3" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boolNota1_4" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="boolNota2_5" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="boolNota3_6" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="strObservacion_7" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CerrarGestionNotasParcialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CerrarGestionNotasParcialResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updCierreGestionNotasParcial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sintCodMatricula_1" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodPeriodo_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodMateria_3" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boolNota1_4" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="boolNota2_5" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="boolNota3_6" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="strObservacion_7" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updCierreGestionNotasParcialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updCierreGestionNotasParcialResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNumRegistrosEvAcumulativo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodPeriodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodMateria" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNumRegistrosEvAcumulativoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getNumRegistrosEvAcumulativoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNumRegistrosEvFinalesRecuperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodPeriodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodMateria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodParalelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodTipoExamen" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNumRegistrosEvFinalesRecuperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getNumRegistrosEvFinalesRecuperacionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActaImpresaEvAcumulativo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodPeriodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodMateria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodParalelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodParcial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActaImpresaEvAcumulativoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getActaImpresaEvAcumulativoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActaImpresaEvFinalesRecuperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodPeriodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodMateria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodParalelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodTipoExamen" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActaImpresaEvFinalesRecuperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getActaImpresaEvFinalesRecuperacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarDatosEvFinalesRecuperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsEvFinalRecuperacion">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dtstNotasEstudiante.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarDatosEvFinalesRecuperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrarDatosEvFinalesRecuperacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getConsolidadoNotas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodCarrera" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodPeriodo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getConsolidadoNotasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getConsolidadoNotasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDatosNotasEstudianteSoapIn">
    <wsdl:part name="parameters" element="tns:GetDatosNotasEstudiante" />
  </wsdl:message>
  <wsdl:message name="GetDatosNotasEstudianteSoapOut">
    <wsdl:part name="parameters" element="tns:GetDatosNotasEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="GetDatosGradoEstudianteSoapIn">
    <wsdl:part name="parameters" element="tns:GetDatosGradoEstudiante" />
  </wsdl:message>
  <wsdl:message name="GetDatosGradoEstudianteSoapOut">
    <wsdl:part name="parameters" element="tns:GetDatosGradoEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="CerrarGestionNotasParcialSoapIn">
    <wsdl:part name="parameters" element="tns:CerrarGestionNotasParcial" />
  </wsdl:message>
  <wsdl:message name="CerrarGestionNotasParcialSoapOut">
    <wsdl:part name="parameters" element="tns:CerrarGestionNotasParcialResponse" />
  </wsdl:message>
  <wsdl:message name="updCierreGestionNotasParcialSoapIn">
    <wsdl:part name="parameters" element="tns:updCierreGestionNotasParcial" />
  </wsdl:message>
  <wsdl:message name="updCierreGestionNotasParcialSoapOut">
    <wsdl:part name="parameters" element="tns:updCierreGestionNotasParcialResponse" />
  </wsdl:message>
  <wsdl:message name="getNumRegistrosEvAcumulativoSoapIn">
    <wsdl:part name="parameters" element="tns:getNumRegistrosEvAcumulativo" />
  </wsdl:message>
  <wsdl:message name="getNumRegistrosEvAcumulativoSoapOut">
    <wsdl:part name="parameters" element="tns:getNumRegistrosEvAcumulativoResponse" />
  </wsdl:message>
  <wsdl:message name="getNumRegistrosEvFinalesRecuperacionSoapIn">
    <wsdl:part name="parameters" element="tns:getNumRegistrosEvFinalesRecuperacion" />
  </wsdl:message>
  <wsdl:message name="getNumRegistrosEvFinalesRecuperacionSoapOut">
    <wsdl:part name="parameters" element="tns:getNumRegistrosEvFinalesRecuperacionResponse" />
  </wsdl:message>
  <wsdl:message name="getActaImpresaEvAcumulativoSoapIn">
    <wsdl:part name="parameters" element="tns:getActaImpresaEvAcumulativo" />
  </wsdl:message>
  <wsdl:message name="getActaImpresaEvAcumulativoSoapOut">
    <wsdl:part name="parameters" element="tns:getActaImpresaEvAcumulativoResponse" />
  </wsdl:message>
  <wsdl:message name="getActaImpresaEvFinalesRecuperacionSoapIn">
    <wsdl:part name="parameters" element="tns:getActaImpresaEvFinalesRecuperacion" />
  </wsdl:message>
  <wsdl:message name="getActaImpresaEvFinalesRecuperacionSoapOut">
    <wsdl:part name="parameters" element="tns:getActaImpresaEvFinalesRecuperacionResponse" />
  </wsdl:message>
  <wsdl:message name="registrarDatosEvFinalesRecuperacionSoapIn">
    <wsdl:part name="parameters" element="tns:registrarDatosEvFinalesRecuperacion" />
  </wsdl:message>
  <wsdl:message name="registrarDatosEvFinalesRecuperacionSoapOut">
    <wsdl:part name="parameters" element="tns:registrarDatosEvFinalesRecuperacionResponse" />
  </wsdl:message>
  <wsdl:message name="getConsolidadoNotasSoapIn">
    <wsdl:part name="parameters" element="tns:getConsolidadoNotas" />
  </wsdl:message>
  <wsdl:message name="getConsolidadoNotasSoapOut">
    <wsdl:part name="parameters" element="tns:getConsolidadoNotasResponse" />
  </wsdl:message>
  <wsdl:portType name="NotasEstudianteSoap">
    <wsdl:operation name="GetDatosNotasEstudiante">
      <wsdl:input message="tns:GetDatosNotasEstudianteSoapIn" />
      <wsdl:output message="tns:GetDatosNotasEstudianteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosGradoEstudiante">
      <wsdl:input message="tns:GetDatosGradoEstudianteSoapIn" />
      <wsdl:output message="tns:GetDatosGradoEstudianteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CerrarGestionNotasParcial">
      <wsdl:input message="tns:CerrarGestionNotasParcialSoapIn" />
      <wsdl:output message="tns:CerrarGestionNotasParcialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updCierreGestionNotasParcial">
      <wsdl:input message="tns:updCierreGestionNotasParcialSoapIn" />
      <wsdl:output message="tns:updCierreGestionNotasParcialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNumRegistrosEvAcumulativo">
      <wsdl:input message="tns:getNumRegistrosEvAcumulativoSoapIn" />
      <wsdl:output message="tns:getNumRegistrosEvAcumulativoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNumRegistrosEvFinalesRecuperacion">
      <wsdl:input message="tns:getNumRegistrosEvFinalesRecuperacionSoapIn" />
      <wsdl:output message="tns:getNumRegistrosEvFinalesRecuperacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getActaImpresaEvAcumulativo">
      <wsdl:input message="tns:getActaImpresaEvAcumulativoSoapIn" />
      <wsdl:output message="tns:getActaImpresaEvAcumulativoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getActaImpresaEvFinalesRecuperacion">
      <wsdl:input message="tns:getActaImpresaEvFinalesRecuperacionSoapIn" />
      <wsdl:output message="tns:getActaImpresaEvFinalesRecuperacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarDatosEvFinalesRecuperacion">
      <wsdl:input message="tns:registrarDatosEvFinalesRecuperacionSoapIn" />
      <wsdl:output message="tns:registrarDatosEvFinalesRecuperacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getConsolidadoNotas">
      <wsdl:input message="tns:getConsolidadoNotasSoapIn" />
      <wsdl:output message="tns:getConsolidadoNotasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotasEstudianteSoap" type="tns:NotasEstudianteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDatosNotasEstudiante">
      <soap:operation soapAction="http://tempuri.org/GetDatosNotasEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosGradoEstudiante">
      <soap:operation soapAction="http://tempuri.org/GetDatosGradoEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarGestionNotasParcial">
      <soap:operation soapAction="http://tempuri.org/CerrarGestionNotasParcial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updCierreGestionNotasParcial">
      <soap:operation soapAction="http://tempuri.org/updCierreGestionNotasParcial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumRegistrosEvAcumulativo">
      <soap:operation soapAction="http://tempuri.org/getNumRegistrosEvAcumulativo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumRegistrosEvFinalesRecuperacion">
      <soap:operation soapAction="http://tempuri.org/getNumRegistrosEvFinalesRecuperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActaImpresaEvAcumulativo">
      <soap:operation soapAction="http://tempuri.org/getActaImpresaEvAcumulativo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActaImpresaEvFinalesRecuperacion">
      <soap:operation soapAction="http://tempuri.org/getActaImpresaEvFinalesRecuperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarDatosEvFinalesRecuperacion">
      <soap:operation soapAction="http://tempuri.org/registrarDatosEvFinalesRecuperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConsolidadoNotas">
      <soap:operation soapAction="http://tempuri.org/getConsolidadoNotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotasEstudianteSoap12" type="tns:NotasEstudianteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDatosNotasEstudiante">
      <soap12:operation soapAction="http://tempuri.org/GetDatosNotasEstudiante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosGradoEstudiante">
      <soap12:operation soapAction="http://tempuri.org/GetDatosGradoEstudiante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarGestionNotasParcial">
      <soap12:operation soapAction="http://tempuri.org/CerrarGestionNotasParcial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updCierreGestionNotasParcial">
      <soap12:operation soapAction="http://tempuri.org/updCierreGestionNotasParcial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumRegistrosEvAcumulativo">
      <soap12:operation soapAction="http://tempuri.org/getNumRegistrosEvAcumulativo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumRegistrosEvFinalesRecuperacion">
      <soap12:operation soapAction="http://tempuri.org/getNumRegistrosEvFinalesRecuperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActaImpresaEvAcumulativo">
      <soap12:operation soapAction="http://tempuri.org/getActaImpresaEvAcumulativo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActaImpresaEvFinalesRecuperacion">
      <soap12:operation soapAction="http://tempuri.org/getActaImpresaEvFinalesRecuperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarDatosEvFinalesRecuperacion">
      <soap12:operation soapAction="http://tempuri.org/registrarDatosEvFinalesRecuperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConsolidadoNotas">
      <soap12:operation soapAction="http://tempuri.org/getConsolidadoNotas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotasEstudiante">
    <wsdl:port name="NotasEstudianteSoap" binding="tns:NotasEstudianteSoap">
      <soap:address location="http://localhost/Oasis/OAS_SitioWeb/SitioWeb_BusinessServices/NotasEstudiante.asmx" />
    </wsdl:port>
    <wsdl:port name="NotasEstudianteSoap12" binding="tns:NotasEstudianteSoap12">
      <soap12:address location="http://localhost/Oasis/OAS_SitioWeb/SitioWeb_BusinessServices/NotasEstudiante.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>